.trip-plan{
    max-width: 400px;
    margin:0 auto;
    height: 670px;
    width:4000px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 80px;
    color:white;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #89abc0;
  }
  .destinationbtn{
    background-color: bisque;
  }
  .image1{
    margin-left:-550px;
    margin-top: -2000px;
    margin-bottom: 50px;
    width:1150px;
    height:829px;
  }
  .email{
    margin-bottom: 10px;
  }
/* 
  .form label {
    display: block;
    margin-bottom: 5px;
  }
   */
  .email input,.password input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .image{
    size: 100px;
    height:100px;
    align-items: center;
  }
  .login{
    font-style :italic
  }
  